
.loading_icon{
    background-image: url('../assets/image/icon/light/loading.png')
}
// 电池
.cell1 {
    background-image: url('../assets/image/icon/light/cell1.png')
}

.cell2 {
    background-image: url('../assets/image/icon/light/cell2.png')
}

.cell3 {
    background-image: url('../assets/image/icon/light/cell3.png')
}

.cell4 {
    background-image: url('../assets/image/icon/light/cell4.png')
}

.cell5 {
    background-image: url('../assets/image/icon/light/cell5.png')
}

.cell6 {
    background-image: url('../assets/image/icon/light/cell6.png')
}
//低电量提醒
.icon{
    background-image: url('../assets/image/icon/light/err_icon.png')
}
// 头部左侧箭头
.iconLeft_header {
    background: url("../assets/image/icon/light/ic_public_back.png") 100% no-repeat;
}
// 头部左侧箭头
.iconLeft_header1 {
    background: url("../assets/image/icon/light/ic_public_back1.png") 100% no-repeat;
}
// 九宫格图标
.time_len {
    background-image: url('../assets/image/icon/light/time_len.png');
}
.time_len_gray{
    background-image: url('../assets/image/icon/light/time_len_gray.png');
}
.position {
    background-image: url('../assets/image/icon/light/position.png');
}
.position_gray {
    background-image: url('../assets/image/icon/light/position_gray.png');
}
.modern{
    background-image: url('../assets/image/icon/light/modern.png');
}
.modern_gray{
    background-image: url('../assets/image/icon/light/modern_gray.png');
}
// 设置
.set {
    background-image: url('../assets/image/icon/light/set.png');
}
// 首页刷牙记录
.log_right {
    background-image: url('../assets/image/icon/light/log_right.png');
}
.hi-icon-public-right{
    background: url('../assets/image/icon/light/calendar-icon.png') center/cover;
}
.stopB{
    background: url('../assets/image/product/light/btn.png') center/cover;
}
// 手势图标
.fingle{
    background: url('../assets/image/icon/light/fingle.png') center/cover;
}
.theme-dark {
    
    .loading_icon{
        background-image: url('../assets/image/icon/dark/loading.png')
    }
    // 电池
    .cell1 {
        background-image: url('../assets/image/icon/dark/cell1.png')
    }
    .cell2 {
        background-image: url('../assets/image/icon/dark/cell2.png')
    }
    .cell3 {
        background-image: url('../assets/image/icon/dark/cell3.png')
    }
    .cell4 {
        background-image: url('../assets/image/icon/dark/cell4.png')
    }
    .cell5 {
        background-image: url('../assets/image/icon/dark/cell5.png')
    }
    .cell6 {
        background-image: url('../assets/image/icon/dark/cell6.png')
   }
    // 九宫格图标
   .time_len {
        background-image: url('../assets/image/icon/dark/time_len.png');
    }
   .time_len_gray{
        background-image: url('../assets/image/icon/dark/time_len_gray.png');
        opacity: .86;
    }
    .position {
        background-image: url('../assets/image/icon/dark/position.png');
    }
    .position_gray {
        background-image: url('../assets/image/icon/dark/position_gray.png');
        opacity: .86;
    }
    .modern{
        background-image: url('../assets/image/icon/dark/modern.png');
    }
    .modern_gray{
        background-image: url('../assets/image/icon/dark/modern_gray.png');
        opacity: .86;
    }
    // 设置
    .set {
        background-image: url('../assets/image/icon/dark/set.png');
        opacity: .86;
    }
    // 首页刷牙记录
    .log_right {
        background-image: url('../assets/image/icon/dark/log_right.png');
    }
    //低电量提醒
    .icon{
        background-image: url('../assets/image/icon/dark/err_icon.png')
    }
    // 头部左侧箭头
    .iconLeft_header {
        background: url("../assets/image/icon/dark/ic_public_back.png") 100% no-repeat;
    }

}